In [1]:
import math
from datetime import datetime
import json
from pymongo import MongoClient
import dbQueries
import pandas as pd

mongodb+srv://mongo_admin:WbbqdlA0RexUWO1p@mongocluster.zkb97.mongodb.net/movies<?retryWrites=true&w=majority
Database(MongoClient(host=['mongocluster-shard-00-01.zkb97.mongodb.net:27017', 'mongocluster-shard-00-00.zkb97.mongodb.net:27017', 'mongocluster-shard-00-02.zkb97.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-13un4y-shard-0', ssl=True), 'movies')
Collection(Database(MongoClient(host=['mongocluster-shard-00-01.zkb97.mongodb.net:27017', 'mongocluster-shard-00-00.zkb97.mongodb.net:27017', 'mongocluster-shard-00-02.zkb97.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-13un4y-shard-0', ssl=True), 'movies'), 'movies_collection')

In [2]:
# Display results per genre
re_json = dbQueries.getTopGenres(10)
df = pd.DataFrame.from_dict(re_json)
df.head(5)

,genres,avgRuntime,noMovies,avgPopularity,avgVotes,avgBudget,avgRevenue
0,Drama,118.167,6,390.871,8.417,25000000.0,9.566667e+06
1,Romance,111.833,6,79.520,8.633,0.0,0.000000e+00
2,Animation,86.000,5,742.361,8.480,30000000.0,1.151438e+07
3,Music,111.800,5,418.611,8.520,30000000.0,1.148000e+07
4,Documentary,90.400,5,43.467,8.640,0.0,0.000000e+00

In [3]:
# Display results per production companies
re_json = dbQueries.getTopProductionCompanies(10)
df = pd.DataFrame.from_dict(re_json)
df.head(5)

,production_companies,noMovies,avgPopularity,avgVotesNo,avgBudget,avgRevenue,avgVotes
0,PassionFlix,3,14.914,1222.667,0.0,0.0,8.9
1,Walt Disney Pictures,2,945.029,2448.500,75000000.0,28700000.0,8.4
2,RadicalMedia,2,16.096,430.000,0.0,0.0,8.7
3,Warner Bros. Animation,2,433.959,796.000,0.0,0.0,8.4
4,Pixar,1,1870.527,4299.000,150000000.0,57400000.0,8.3

In [4]:
# Display results per vote average
re_json = dbQueries.getTopVoteAvg(10)
df = pd.DataFrame.from_dict(re_json)
df.head(5)

,title,genres,budget,popularity,production_companies,production_countries,revenue,runtime,status,vote_avg,vote_count
0,Me contro Te: Il film - La vendetta del Signor S,"[Comedy, Family]",75000,6.904,"[Colorado Film, Warner Bros Pictures Italia, M...",[Italy],0,0,Released,8.4,387
1,"Veinteañera, divorciada y fantástica",[Comedy],0,171.824,"[Different Films, All About Media]",[Mexico],0,93,Released,8.2,297
2,My Octopus Teacher,[Documentary],0,22.802,[],[South Africa],0,84,Released,8.3,144
3,Mortal Kombat Legends: Scorpion's Revenge,"[Fantasy, Action, Adventure, Animation]",0,823.472,"[Warner Bros. Animation, NetherRealm Studios]",[United States of America],0,80,Released,8.4,728
4,Justice League Dark: Apokolips War,"[Animation, Action, Adventure, Fantasy, Scienc...",0,44.445,"[Warner Bros. Animation, DC Entertainment, DC ...",[United States of America],0,90,Released,8.4,864

In [5]:
# Display results per revenue
re_json = dbQueries.getTopMoreRevenue(10)
df = pd.DataFrame.from_dict(re_json)
df.head(5)

,title,genres,budget,popularity,production_companies,production_countries,revenue,runtime,status,vote_avg,vote_count
0,Me contro Te: Il film - La vendetta del Signor S,"[Comedy, Family]",75000,6.904,"[Colorado Film, Warner Bros Pictures Italia, M...",[Italy],0,0,Released,8.4,387
1,"Veinteañera, divorciada y fantástica",[Comedy],0,171.824,"[Different Films, All About Media]",[Mexico],0,93,Released,8.2,297
2,My Octopus Teacher,[Documentary],0,22.802,[],[South Africa],0,84,Released,8.3,144
3,Mortal Kombat Legends: Scorpion's Revenge,"[Fantasy, Action, Adventure, Animation]",0,823.472,"[Warner Bros. Animation, NetherRealm Studios]",[United States of America],0,80,Released,8.4,728
4,Justice League Dark: Apokolips War,"[Animation, Action, Adventure, Fantasy, Scienc...",0,44.445,"[Warner Bros. Animation, DC Entertainment, DC ...",[United States of America],0,90,Released,8.4,864