In [1]:
import math
from datetime import datetime
import json
from pymongo import MongoClient
import dbQueries
import pandas as pd

SyntaxError: invalid syntax (dbQueries.py, line 20)

In [2]:
# Display results per genre
dbQueries.getMoviesReleaseYear()
#re_json = dbQueries.getTopGenres(10)
#df = pd.DataFrame.from_dict(re_json)
#df.head(5)

NameError: name 'getMoviesReleaseYear' is not defined

In [3]:
# Display results per production companies
re_json = dbQueries.getTopProductionCompanies(10)
df = pd.DataFrame.from_dict(re_json)
df.head(5)

,production_companies,noMovies,avgPopularity,avgVotesNo,avgBudget,avgRevenue,avgVotes
0,PassionFlix,3,14.914,1222.667,0.0,0.0,8.9
1,Walt Disney Pictures,2,945.029,2448.500,75000000.0,28700000.0,8.4
2,RadicalMedia,2,16.096,430.000,0.0,0.0,8.7
3,Warner Bros. Animation,2,433.959,796.000,0.0,0.0,8.4
4,Pixar,1,1870.527,4299.000,150000000.0,57400000.0,8.3

In [4]:
# Display results per vote average
re_json = dbQueries.getTopVoteAvg(10)
df = pd.DataFrame.from_dict(re_json)
df.head(5)
#

,title,genres,budget,popularity,production_companies,production_countries,revenue,runtime,status,vote_avg,vote_count
0,Me contro Te: Il film - La vendetta del Signor S,"[Comedy, Family]",75000,6.904,"[Colorado Film, Warner Bros Pictures Italia, M...",[Italy],0,0,Released,8.4,387
1,"Veintea침era, divorciada y fant치stica",[Comedy],0,171.824,"[Different Films, All About Media]",[Mexico],0,93,Released,8.2,297
2,My Octopus Teacher,[Documentary],0,22.802,[],[South Africa],0,84,Released,8.3,144
3,Mortal Kombat Legends: Scorpion's Revenge,"[Fantasy, Action, Adventure, Animation]",0,823.472,"[Warner Bros. Animation, NetherRealm Studios]",[United States of America],0,80,Released,8.4,728
4,Justice League Dark: Apokolips War,"[Animation, Action, Adventure, Fantasy, Scienc...",0,44.445,"[Warner Bros. Animation, DC Entertainment, DC ...",[United States of America],0,90,Released,8.4,864

In [5]:
# Display results per revenue
re_json = dbQueries.getTopMoreRevenue(10)
df = pd.DataFrame.from_dict(re_json)
df.head(5)

,title,genres,budget,popularity,production_companies,production_countries,revenue,runtime,status,vote_avg,vote_count
0,Me contro Te: Il film - La vendetta del Signor S,"[Comedy, Family]",75000,6.904,"[Colorado Film, Warner Bros Pictures Italia, M...",[Italy],0,0,Released,8.4,387
1,"Veintea침era, divorciada y fant치stica",[Comedy],0,171.824,"[Different Films, All About Media]",[Mexico],0,93,Released,8.2,297
2,My Octopus Teacher,[Documentary],0,22.802,[],[South Africa],0,84,Released,8.3,144
3,Mortal Kombat Legends: Scorpion's Revenge,"[Fantasy, Action, Adventure, Animation]",0,823.472,"[Warner Bros. Animation, NetherRealm Studios]",[United States of America],0,80,Released,8.4,728
4,Justice League Dark: Apokolips War,"[Animation, Action, Adventure, Fantasy, Scienc...",0,44.445,"[Warner Bros. Animation, DC Entertainment, DC ...",[United States of America],0,90,Released,8.4,864